<table class="responsive-enabled" data-striping="1">
  <thead>
  <tr>
    <th>{{ 'Hostname'|t }}</th>
    <th>{{ 'Check Type'|t }}</th>
    <th>{{ 'Last Known Status'|t }}</th>
    <th>{{ 'Last Error'|t }}</th>
  </tr>
  </thead>
  <tbody>
  {% if items|length > 0 %}
    {% for node in items %}
      <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
        <td>{{ node.hostname }}</td>
        <td>{{ node.check_type }}</td>
        <td>{{ node.status }}</td>
        <td>{{ node.last_error }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <tr class="odd">
      <td colspan="5" class="empty message">{{ 'You have not set up any checks yet.'|t }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
